.cabecalho__menu-amburguer{
    width: 24px;
    height: 24px;
    background-image: url('../img/Menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer; 
    }
    .cabecalho{ 
        background-color: var(--branco);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .container{
        display: flex;
        align-items: center;
    }
    .container #menu{
        display: none;
    }
    .container__img{
        padding: 1em;
    }
    .lista-menu{
        display: none;
        width: 60vw;
    
    }
    .container__botao:checked ~.lista-menu{
        display: block;
        position: absolute;
        top: 100%;
    }
    .lista-menu .lista-menu__titulo, .lista-menu__item{
        padding: 1em;
        background-color: var(--branco);
    }
    
    .lista-menu .lista-menu__titulo{
        color: #EB9B00;
        font-weight: 700;
    }
    .lista-menu__link{
        background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }   
    .container__titulo{
        display: none;
    }
    .opcoes{
        display: none;
    }
    @media screen and (min-width:1024px){
        .cabecalho__menu-amburguer{
      display: none;
            }
        .container__img-favoritos{
            display: none;
        }
        .container__titulo,.container__titulo-negrito{
            font-family: var(--fonte-secundaria);
            font-size: 30px;
        }
        .container__titulo-negrito{
            font-weight: 700;
        }
        .container__titulo{
            display: block;
            font-weight: 400;
        }
        .opcoes{
            display: flex;
        }
        .opcoes__item{
            padding: 0 1em;
            text-transform: uppercase;
            cursor: pointer;
        }
        .opcoes__link{
            text-decoration: none;
            color: var(--preto);
        }
        .opcoes__input-checkbox{
            display: none;
        }
        .opcoes__input-checkbox:checked ~ .lista-menu{
            display: block;
            position: absolute;
            top: 100%;
            width: auto;
        }
    }
    .container__texto{
        display: none;

    }
    
@media screen and (min-width:1728px){
    .container__texto{
        display: block;
        
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }

}