.topicos{
    background: var(--azul-degrade);
    text-align: center;

}
.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    padding: 1em 0;
    margin-bottom: 1em;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link__lista{
    margin: 2em 0.5em;
}
.link__lista a{
color: var(--branco);
padding: 1em;
background-color: var(--laranja);
text-decoration: none;
font-size: 14px;
font-weight: 700;
}

@media screen and (min-width:1024px){
    .topicos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topicos__titulo{
        font-size: 24px;
    }
    .link__lista{
        margin-bottom: 3em;
    }
    .link__lista a{
        font-size: 24px;
        
    }
 .topicos__lista{
    padding-bottom: 2em;
    width: 80%;
 }
}